body{
    background-color: rgb(42, 97, 198);
    color: white;
    display: flex;
    margin: 0;
    padding: 0;

}
.sidebar{
    background-color: black;
    height: 100vh;
    width: 18%;
    border-right: 1px solid #504949;
}
.content{
    padding: 3px;
}

.sidebar h1{
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}
.sidebar .items{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px 2px 13px 2px;
    font-size: 16px;
}

.maincontent{
    background-color: black;
    height: 100vh;
    width: 55%;

}
.maincontent .story{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px;
}
.maincontent .story .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.maincontent .story .profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    background-image: conic-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #feda75);
    margin: 2px;

}

.maincontent .story .profile p{
    margin: 2px;
    padding: 0px;
    font-size: 12px;
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.maincontent .post img{
    width: 500px;
    height: 300px;
    padding: 30px;
    border-radius: 15px;
}

.leftbar{
    background-color: rgb(19, 166, 61);
    width: 25%;
    height: 100vh;    
}
