body{
    background-color: black;
    color: white;
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 18%;
    border-right: 1px solid #50494d;
}

.sidebar h1{
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}
.sidebar .items{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px 2px 13px 2px;
    font-size: 16px;
}

.maincontent{
    height: 100vh;
    width: 55%;
    padding: 20px;
}
.maincontent .story{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.maincontent .story .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storyimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid white;
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}
.maincontent .post img{
    width: 80%;
    height: 300px;
}

.leftbar{
    width: 25%;
    height: 100vh;    
}
